body{
   background-image:url("sama00.jpg")

}



form{
	margin-top: 10em;
    border-radius: 20%;
    background-color:black;
    padding: 4em;
    width: 30%;
    font-family: Courier New;
	opacity: 0.8;
	font-size:20px;
   color:white;
 }
  
  
button {
	background-color: #e7e7e7; 
	color: black; 
	padding:1em;
   }
   
input{
	width:100%;
}

